.page-num {
    width: 45px !important;
    border: 1px solid #007bff;
    color: #007bff;
    text-align: center;
    font-weight: bold;
}

.arrow {
    width : 0;
    height : 0;
    margin-top : 5px;
    border-left : 5px solid transparent;
    border-right : 5px solid transparent;
    display : inline-block;
}

.arrow-up {
    border-bottom : 10px solid black;
}

.arrow-down {
    border-top : 10px solid black;
}